<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <header>
        <h1>Kurikirana</h1>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('explore') }}">Explore</a>
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                    <a href="#">About us</a>
                {% endif %}
            </div>
        </div>  
    </header>
    <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
            <li><a href="{{ url_for('management') }}">Item Management</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
    <main>
    <div class="main-content">
        <div class="header">
            Humidity Monitoring Dashboard
        </div>

        <div class="dashboard-container">
            <div class="card">
                <h3>Temperature Trends</h3>
                <canvas id="temperatureChart" class="chart"></canvas>
            </div>

            <div class="card">
                <h3>Humidity Levels</h3>
                <canvas id="humidityChart" class="chart"></canvas>
            </div>
        </div>
    </div>
</main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <footer>
        <p>&copy; 2025 Kurikirana</p>
    </footer>
</body>
</html>